#sendButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	display: block;
	height: 50px;
	width: 50px;
}
#sendChat {
	width: 50px;
	background-color: #FFFFFF;
}
#chatMsg {
	width: 200px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow: auto;
	height: 45px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#chatTXTall {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: left;
}
#chatTXTdata {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: inline;
	padding: 0px;
	width: 100%;
}
#chatboxMsgbox {
	background-color: #FFFFFF;
	height: 250px;
	vertical-align: top;
	text-align: center;
}
#scrollerTXT {
	display: block;
	width: 256px;
	overflow: hidden;
	height: 238px;
}
